*.o
*.a
example-app/example
test/btest
test/colorsel
test/combotest
test/docktest
test/exception
test/exec
test/favordlg
test/flies
test/ftest
test/gltest
test/listview
test/mditest
test/progbar
test/resizer
test/root_flies
test/root_trails
test/shutter
test/shutter1
test/spinnertest
test/test4
test/textedit
test/trails
test/wintest
test/xdnd
test/htmltest
